<h1>Lista de Compras</h1>

<table>
  <tr>
    <td>Produto</td>
    <td>Quantidade</td>
  </tr>
  <% @list.orders.each do |order| %>
    <tr>
      <td>
        <%= order.product.name %>
      </td>
      <td>
        <%= order.qt %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "Acesse a lista", @list, target: "_blank" %>
